.profile_img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.navbar_profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
}
.user_name {
  font-size: 12px;
  font-weight: 800;
  line-height: 20px;
  color: #1c1c1c;
}
.user_role {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: #1c1c1c80;
}

.dropdown-toggle::after {
  color: #070707;
}

.navbar {
  flex-wrap: nowrap;
  .navbar__features {
    @include responsive(max, 1300px) {
      gap: 0;
    }
    @include responsive(max, 991) {
      display: flex;
      border: 10px solid red;
    }
  }
  .navbar__links {
    @include responsive(max, 1300px) {
      gap: 8px;
    }
    @include responsive(max, 1300px) {
      gap: 0;
    }
  }
  li {
    a {
      @include responsive(min, 991px) {
        font-size: 15px;
      }
      @include responsive(min, 1304px) {
        font-size: 16px;
      }
    }
  }

  .user_data_container {
    @include responsive(min, 992px) {
      display: none;
    }
    @include responsive(min, 1070px) {
      display: block;
    }
  }
  .dropdown-menu[data-bs-popper] {
    right: 0;
    left: initial;
    width: 100%;
  }
}
// for responsive navbar
.navbar-responsive {
  .navbar__features {
    display: block;
  }
  .upperbar__language__list {
    z-index: 100;
  }
}

// teacher_profile_page
.teacher_profile_page {
  .teacher_img {
    width: 264px;
    height: 264px;
    border-radius: 50%;
    outline: 9.76px solid #ffffff;
    @include responsive(max, 425px) {
      width: 150px;
      height: auto;
    }
  }

  .teacher_img_name_container {
    margin-left: 144px;
    margin-top: -6%;
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 80px;
    @include responsive(max, 425px) {
      margin-left: 10px;
      margin-top: 0;
      flex-wrap: wrap;
    }
    .user_name {
      padding-top: 24px;
      font-size: 40px;
      font-weight: 700;
      line-height: 48.41px;
      color: #070707;
    }
    .user_role {
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      // color: #888888;
      color: #000000cc;
      // color: #d9d9d9;
    }
  }
  .file_input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
  }
  .form_container {
    .input_group {
      margin-bottom: 48px;
    }
    label {
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;
      color: #000000cc;
      margin-bottom: 8px;
      margin-top: 0;
      width: 100%;
    }
    input,
    select {
      max-width: 80%;
      padding: 19px 18px;
      background-color: transparent;
      @include responsive (max,425px){
        max-width: 100%;
        padding: 10px;
      }
    }
    .text_area {
      min-height: 190px;
      max-width: 80%;
      outline: none;
      @include responsive (max,425px){
        max-width: 100%;
        padding: 10px;
      }
    }
    .btn_save {
      max-width: 58%;
      margin: auto;
      padding-block: 20px;
      margin-bottom: 147px;
    }
  }
}
