// .requests_container {
//   position: relative;
//   margin-bottom: 80px;
//   @include responsive (max,425px){
//     margin-bottom: 10px;
//     height: 170px;
//   }

//   .requests_txt {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 1;
//   }
//   .requests_no {
//     font-size: 48px;
//     font-weight: 700;
//     line-height: 64px;
//     color: white;
//     margin-bottom: 24px;
//     @include responsive (max,425px){
//       font-size: 26px;
//       font-weight: 700;
//       line-height: initial;
//       margin-bottom: 8px;
//     }
//   }
//   .btn_toggle {
//     background-color: $color-secondary;
//     padding: 14px 37px;
//     border: none;
//     color: white;
//   }
//   .dropdown-toggle::after {
//     border-top: 0.3em solid white;
//   }
// }

.cards_container {
  .g_y_40 {
    gap: 40px 0;
  }
}

// .card {
//   width: 93%;
//   height: 100%;
//   // width: 411px;
//   // height: 381px;
//   padding: 16px;
//   border-radius: 24px;
//   box-shadow: 0px 3px 20px 0px #0000001a;
//   border: none;

//   .student_img_request {
//     // width: 379px;
//     width: 100%;
//     object-fit: cover;
//     height: 174px;
//     border-radius: 15px;
//     margin-bottom: 16px;
//   }

//   .request_data_container {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 19px;
//     @include responsive(max, 768px) {
//       flex-wrap: wrap;
//     }
//   }
//   .lesson_name {
//     font-size: 19.77px;
//     font-weight: 700;
//     line-height: 23.92px;
//     color: $black-par;
//     margin-bottom: 8px;
//   }
//   .student_grade {
//     font-size: 15.81px;
//     font-weight: 500;
//     line-height: 19.14px;
//     color: #868686;
//     margin-bottom: 16px;
//   }
//   .details_link {
//     font-size: 16px;
//     font-weight: 500;
//     line-height: 19.36px;
//     color: $color-primary;
//     &::after {
//       content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuNDM3NSAxMC45NjMzQzAuODk5NDIxIDExLjI3NCAwLjcxNTA2MSAxMS45NjIgMS4wMjU3MiAxMi41MDAxQzEuMzM2MzggMTMuMDM4MiAyLjAyNDQyIDEzLjIyMjYgMi41NjI1IDEyLjkxMTlMMS40Mzc1IDEwLjk2MzNaTTE2LjA3NyA0LjcyODc5QzE2LjIzNzkgNC4xMjg2NCAxNS44ODE3IDMuNTExNzYgMTUuMjgxNiAzLjM1MDk2TDUuNTAxNTUgMC43MzA0MTJDNC45MDE0IDAuNTY5NjAzIDQuMjg0NTMgMC45MjU3NTggNC4xMjM3MiAxLjUyNTkxQzMuOTYyOTEgMi4xMjYwNiA0LjMxOTA2IDIuNzQyOTQgNC45MTkyMSAyLjkwMzc1TDEzLjYxMjUgNS4yMzMxMkwxMS4yODMyIDEzLjkyNjRDMTEuMTIyNCAxNC41MjY2IDExLjQ3ODUgMTUuMTQzNSAxMi4wNzg3IDE1LjMwNDNDMTIuNjc4OCAxNS40NjUxIDEzLjI5NTcgMTUuMTA4OSAxMy40NTY1IDE0LjUwODhMMTYuMDc3IDQuNzI4NzlaTTIuNTYyNSAxMi45MTE5TDE1LjU1MjkgNS40MTE5TDE0LjQyNzkgMy40NjMzNEwxLjQzNzUgMTAuOTYzM0wyLjU2MjUgMTIuOTExOVoiIGZpbGw9IiM4RDI5RDkiLz4KPC9zdmc+Cg==");
//       // vertical-align: middle;
//       padding-left: 16px;
//     }
//   }
//   .date {
//     font-size: 13.1px;
//     font-weight: 500;
//     line-height: 15.86px;
//     color: #acacac;
//     text-align: right;
//   }

//   .btn_container {
//     display: flex;
//     justify-content: space-between;
//     gap: 16px;
//     .btn {
//       padding: 15px;
//       font-size: 13.84px;
//       font-weight: 700;
//       line-height: 16.74px;
//       border-radius: 7.91px;
//     }

//     .btn_cancel {
//       width: 50%;
//       background-color: #fad0d1;
//       color: #e6282a;
//     }
//     .btn_accept {
//       width: 50%;
//       background-color: $color-primary;
//       color: white;
//     }
//   }
// }
