$color-primary: #8d29d9;
$color-secondary: #ffb600;
$color-white: #ffffff;
$color-white-8: #ffffffcc;
$border-color: rgba(102, 102, 102, 0.349);
$color-header: #1c1c1c;
$black-par: #070707;
$card-raduis: 10px;

