// abstracts
@import "./abstracts/variables";
@import "./abstracts/mixins";

// base
@import "./base/base";
@import "./base/reset";

// components
@import "./components/language";
@import "./components/form_input";
@import "./components/global-btn";
@import "./components/otp";


// layout
@import "./layout/nav";
@import "./layout/footer";
// pages
@import "./pages/auth";
@import "./pages/index";
@import "./pages/teacher_onboarding";
@import "./pages/teacher_profile";

