.upperbar__language {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    padding: 0.4rem 1rem;
    cursor: pointer;
    color: #4A5154;
    font-family: $mainFont;
    background-color: #F5F6F7;
    border-radius: 5.62px;  


    &__list {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #fff;
        box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.3);

        li {
            a {
                display: block;
                padding: 0.5rem 1rem;
                color: $color-primary;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: #eee;
                }

                &.active {
                    background-color: #f5e4d0;
                    color: $color-primary;
                }
            }
        }
    }

    img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        object-fit: cover;
    }
}