.otp-field {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  @include responsive(max, 450px) {
    gap: 12px;
  }

  input {
    border: 1px solid #66666659;
    color: #fff;
    display: flex;
    width: 88px;
    height: 88px;
    padding: 16px 12px;
    text-align: center;
    font-size: 24px;
    line-height: 35.25px;
    font-weight: 500;
    border-radius: 12px;

    @include responsive(max, 450px) {
      width: 45px;
      height: 45px;
    }

    &:focus {
      border: 1px solid $color_primary;
      color: $color_primary;
    }
    &.finished {
      background-color: $color_primary;
      border: none;
      color: white;
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

#otpSubmit {
  &:disabled {
    background-color: #ccc;
    border: none;
    opacity: 0.8;
    cursor: no-drop;
    &:hover {
      color: white;
    }
  }
}
